.c2-head {
    color: rgb(90, 8, 86);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 3px;
    font-size: 45px;
    background: rgb(71, 226, 71);
  }
  .c2-img {
    width: 100%;
    height: 80vh;
  }
  